<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>搜索结果</title>
<link href="__PUBLIC__/css/home/search/style.css" rel="stylesheet"
	type="text/css" />
<link href="__PUBLIC__/css/home/search/pageskip.css" rel="stylesheet"
	type="text/css" />
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	background-color: #2286C2;
}
</style>



</head>


<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td background="__PUBLIC__/images/admin/index1_45.gif"></td>
		<td bgcolor="#FFFFFF" style="height: 490px; vertical-align: top;">
		

		
		<table width="100%" border="0" cellspacing="10" cellpadding="0">
			<tr>
				<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="1"
					bgcolor="#BBD3EB">
					
					
					
				
                    

					<tr style="float:left">
						<font size='5' color="red"> <{$book.bookname}></font><br/>
						单价：<{$book.price}> 二手币<br/>
						<{$book.publish}><br/>
						
						请输入购买数量：<input type='text' name='count'/>
						<br/>
						<font size='6' color="green"><a href="#">立即购买</a>||<a href="#">加入购物车</a></font>
					 </tr>
					
				</table>
				</td>
			</tr>
		
			
		</table>
		
		</td>
		
	</tr>
	
</table>
</body>
</html>
 