<html lang="en"><head>
<meta charset="UTF-8">
</head>
<body style="font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;margin:0;"><table border="0" cellpadding="0" cellspacing="0" style=" border-radius:3px; border:1px solid #dedede; margin: 17px auto;" width="552" class="responsive-table">
<tbody><tr>
<td bgcolor="#0373d6" height="54" align="center" style="border-top-left-radius:3px;border-top-right-radius:3px;">
<a href="$_MODULE/Index" target="_blank" style="color: #fff;font-size: 2em;text-decoration: none;">优云市集</a>
</td>
</tr>
<tr>
<td bgcolor="#ffffff" align="center" style="padding: 0 15px 0px 15px;">
<table border="0" cellpadding="0" cellspacing="0" width="480" class="responsive-table">
<tbody><tr>
<td width="550" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td bgcolor="#ffffff" align="left" style="background-color:#ffffff; font-size: 17px; color:#7b7b7b; padding:28px 0 0 0;line-height:25px;"><b>$_USERNAME，你好！</b>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px; color:#7b7b7b; font-size:14px; line-height: 25px; font-family:Hiragino Sans GB; padding: 15px 0px 25px 0px">优云网已经收到了你的密码重置请求，请 24 小时内点击下面的按钮重置密码。
</td>
</tr>
<tr>
<td style="border-top:1px #f1f4f6 solid; padding: 26px 0 32px 0;" align="center" class="padding">
<table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
<tbody><tr>
<td>
<span style="font-family:Hiragino Sans GB;;font-size:17px;color:#0a82e4">
<a style="text-decoration:none;color:#ffffff;" href="http://$_MODULE/Resetpsd/setnewpasswd/verify/$_VERIFY" target="_blank">
<div style="padding:10px 25px 10px 25px;border-radius:3px;text-align:center;text-decoration:none;background-color:#0a82e4;color:#ffffff;font-size:17px;margin:0;white-space:nowrap">重置密码
</div>
</a>
</span>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td></tr></tbody></table>
</body></html>