<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>设置新密码</title>
		<include file="PublicModule/common_css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/bootsdocs.css">
		<style>
			input[type=password]{
				width:150px;
			}
			h3{
				color: rgb(243, 132, 45);
			}
			#_return{
				color: rgb(35, 149, 238);
				border-bottom: 2px solid rgb(71, 0, 255);
			}
			#_return:hover{
				color: rgb(89, 226, 138);
				text-decoration: none;
				border-bottom: 2px solid rgb(159, 230, 68);
			}
					
		</style>
	</head>
	<body style="padding-top:0;">
		<div class="c-wrap mt-30 top-colume">
			<div>
				<a href="/">
				<img id="go-homepage" src="__PUBLIC__/images/home/biglogo.png" title="优云网首页">
				</a>
			</div>
		</div>
		<hr>
		<div class="c-wrap">
			<div class="bs-callout bs-callout-warning">
				<h3>密码重置</h3><br>
				<p>
				<form action="__CONTROLLER__/setnewpasswd" method="post">
					密　　码：<input type="password" name="newpasswd"><br>
					确认密码：<input type="password" name="psd_confirm"><br>
					<input id="commit" type="submit" value="确认" style="color:#fff;border:none;background-color:red;cursor:pointer;padding: 0.5em 1em;border-radius: 5px;font-weight: bold;">
				</form>
				</p>
			</div>
		</div>
		<script>
			var submit = document.getElementById('commit');
			submit.addEventListener('click', function(){
				this.value = "处理中..." ;
			}, true)
			
		</script>
	</body>
</html>